---
import Button from "./Button.astro";
import Github from "@/icons/Github.astro";
import Linkedin from "@/icons/Linkedin.astro";
import Twitter from "@/icons/Twitter.astro";
---

<ul class="flex items-center gap-2 mt-2">
    <li>
        <Button href="https://github.com/ruben-velasquez" ariaLabel="Visita el Github de Rubén Velásquez"><Github /></Button>
    </li>
    <li>
        <Button href="https://www.linkedin.com/in/ruben-velasquez-b42aa3221/" ariaLabel="Visita el Linkedin de Rubén Velásquez"><Linkedin /></Button>
    </li>
    <li>
        <Button href="https://twitter.com/rub3nvm" ariaLabel="Visita el Twitter de Rubén Velásquez"><Twitter /></Button>
    </li>
</ul>