

<section>
    <h2 class="text-2xl font-bold">Resumen</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Suscipit, sapiente nobis facere unde maiores excepturi non cupiditate, 
        eius quod modi quam nisi ut necessitatibus molestias placeat mollitia ab cum enim.</p>
</section>