---
import Unity from "@/icons/Unity.astro";
import JavaScript from "@/icons/JavaScript.astro";
import CSharp from "@/icons/CSharp.astro";
import Nextjs from "@/icons/Nextjs.astro";
import Server from "@/icons/Server.astro";
import Prisma from "@/icons/Prisma.astro";
import TypeScript from "@/icons/TypeScript.astro";
import Badge from "@/components/Badge.astro";

const SKILLS = [
    {
        name: "Unity", 
        icon: Unity, 
        class: "bg-slate-900 text-white"
    },
    {
        name: "CSharp", 
        icon: CSharp, 
        class: "bg-violet-900 text-white"
    },
    {
        name: "JavaScript", 
        icon: JavaScript, 
        class: "bg-yellow-900 text-white"
    },
    {
        name: "NextJS", 
        icon: Nextjs, 
        class: "bg-stone-900 text-white"
    },
    {
        name: "NestJS", 
        icon: Server, 
        class: "bg-red-900 text-white"
    },
    {
        name: "Prisma", 
        icon: Prisma, 
        class: "bg-blue-900 text-white"
    },
    {
        name: "TypeScript", 
        icon: TypeScript, 
        class: "bg-sky-900 text-white"
    },
]
---

<section class="mt-4 font-bold">
    <p class="text-lg inline-flex items-center gap-2 flex-wrap">Skills: 
        {
            SKILLS.map(skill => (
                <Badge badgeClass={skill.class}>
                    <skill.icon /> {skill.name}
                </Badge>
            ))
        }
    </p>
</section>